#E01{
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(../../assets/icons/Admin/avatar.svg);
}
#E02{
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(../../assets/icons/Admin/avatar.svg);
}
#E03{
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(../../assets/icons/Admin/mail2.svg);
}
#E04{
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(../../assets/icons/Admin/id.svg);
}
